body {
  overflow: hidden;
  background-color: rgba(0, 0, 255, 0.4); }

.goutte1 {
  left: 1em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 529ms infinite;
  animation: myfirst 529ms infinite; }

.goutte2 {
  left: 2em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 801ms infinite;
  animation: myfirst 801ms infinite; }

.goutte3 {
  left: 3em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 11ms infinite;
  animation: myfirst 11ms infinite; }

.goutte4 {
  left: 4em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 274ms infinite;
  animation: myfirst 274ms infinite; }

.goutte5 {
  left: 5em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 718ms infinite;
  animation: myfirst 718ms infinite; }

.goutte6 {
  left: 6em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 376ms infinite;
  animation: myfirst 376ms infinite; }

.goutte7 {
  left: 7em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 667ms infinite;
  animation: myfirst 667ms infinite; }

.goutte8 {
  left: 8em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 889ms infinite;
  animation: myfirst 889ms infinite; }

.goutte9 {
  left: 9em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 695ms infinite;
  animation: myfirst 695ms infinite; }

.goutte10 {
  left: 10em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 160ms infinite;
  animation: myfirst 160ms infinite; }

.goutte11 {
  left: 11em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 604ms infinite;
  animation: myfirst 604ms infinite; }

.goutte12 {
  left: 12em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 391ms infinite;
  animation: myfirst 391ms infinite; }

.goutte13 {
  left: 13em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 477ms infinite;
  animation: myfirst 477ms infinite; }

.goutte14 {
  left: 14em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 227ms infinite;
  animation: myfirst 227ms infinite; }

.goutte15 {
  left: 15em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 887ms infinite;
  animation: myfirst 887ms infinite; }

.goutte16 {
  left: 16em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 60ms infinite;
  animation: myfirst 60ms infinite; }

.goutte17 {
  left: 17em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 714ms infinite;
  animation: myfirst 714ms infinite; }

.goutte18 {
  left: 18em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 407ms infinite;
  animation: myfirst 407ms infinite; }

.goutte19 {
  left: 19em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 825ms infinite;
  animation: myfirst 825ms infinite; }

.goutte20 {
  left: 20em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 895ms infinite;
  animation: myfirst 895ms infinite; }

.goutte21 {
  left: 21em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 357ms infinite;
  animation: myfirst 357ms infinite; }

.goutte22 {
  left: 22em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 61ms infinite;
  animation: myfirst 61ms infinite; }

.goutte23 {
  left: 23em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 780ms infinite;
  animation: myfirst 780ms infinite; }

.goutte24 {
  left: 24em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 348ms infinite;
  animation: myfirst 348ms infinite; }

.goutte25 {
  left: 25em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 103ms infinite;
  animation: myfirst 103ms infinite; }

.goutte26 {
  left: 26em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 614ms infinite;
  animation: myfirst 614ms infinite; }

.goutte27 {
  left: 27em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 343ms infinite;
  animation: myfirst 343ms infinite; }

.goutte28 {
  left: 28em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 444ms infinite;
  animation: myfirst 444ms infinite; }

.goutte29 {
  left: 29em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 873ms infinite;
  animation: myfirst 873ms infinite; }

.goutte30 {
  left: 30em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 778ms infinite;
  animation: myfirst 778ms infinite; }

.goutte31 {
  left: 31em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 130ms infinite;
  animation: myfirst 130ms infinite; }

.goutte32 {
  left: 32em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 525ms infinite;
  animation: myfirst 525ms infinite; }

.goutte33 {
  left: 33em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 303ms infinite;
  animation: myfirst 303ms infinite; }

.goutte34 {
  left: 34em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 275ms infinite;
  animation: myfirst 275ms infinite; }

.goutte35 {
  left: 35em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 737ms infinite;
  animation: myfirst 737ms infinite; }

.goutte36 {
  left: 36em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 456ms infinite;
  animation: myfirst 456ms infinite; }

.goutte37 {
  left: 37em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 158ms infinite;
  animation: myfirst 158ms infinite; }

.goutte38 {
  left: 38em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 603ms infinite;
  animation: myfirst 603ms infinite; }

.goutte39 {
  left: 39em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 464ms infinite;
  animation: myfirst 464ms infinite; }

.goutte40 {
  left: 40em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 731ms infinite;
  animation: myfirst 731ms infinite; }

.goutte41 {
  left: 41em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 577ms infinite;
  animation: myfirst 577ms infinite; }

.goutte42 {
  left: 42em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 686ms infinite;
  animation: myfirst 686ms infinite; }

.goutte43 {
  left: 43em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 582ms infinite;
  animation: myfirst 582ms infinite; }

.goutte44 {
  left: 44em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 237ms infinite;
  animation: myfirst 237ms infinite; }

.goutte45 {
  left: 45em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 363ms infinite;
  animation: myfirst 363ms infinite; }

.goutte46 {
  left: 46em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 85ms infinite;
  animation: myfirst 85ms infinite; }

.goutte47 {
  left: 47em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 666ms infinite;
  animation: myfirst 666ms infinite; }

.goutte48 {
  left: 48em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 267ms infinite;
  animation: myfirst 267ms infinite; }

.goutte49 {
  left: 49em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 494ms infinite;
  animation: myfirst 494ms infinite; }

.goutte50 {
  left: 50em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 782ms infinite;
  animation: myfirst 782ms infinite; }

.goutte51 {
  left: 51em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 828ms infinite;
  animation: myfirst 828ms infinite; }

.goutte52 {
  left: 52em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 642ms infinite;
  animation: myfirst 642ms infinite; }

.goutte53 {
  left: 53em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 900ms infinite;
  animation: myfirst 900ms infinite; }

.goutte54 {
  left: 54em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 155ms infinite;
  animation: myfirst 155ms infinite; }

.goutte55 {
  left: 55em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 297ms infinite;
  animation: myfirst 297ms infinite; }

.goutte56 {
  left: 56em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 862ms infinite;
  animation: myfirst 862ms infinite; }

.goutte57 {
  left: 57em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 33ms infinite;
  animation: myfirst 33ms infinite; }

.goutte58 {
  left: 58em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 216ms infinite;
  animation: myfirst 216ms infinite; }

.goutte59 {
  left: 59em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 743ms infinite;
  animation: myfirst 743ms infinite; }

.goutte60 {
  left: 60em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 25ms infinite;
  animation: myfirst 25ms infinite; }

.goutte61 {
  left: 61em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 170ms infinite;
  animation: myfirst 170ms infinite; }

.goutte62 {
  left: 62em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 794ms infinite;
  animation: myfirst 794ms infinite; }

.goutte63 {
  left: 63em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 438ms infinite;
  animation: myfirst 438ms infinite; }

.goutte64 {
  left: 64em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 604ms infinite;
  animation: myfirst 604ms infinite; }

.goutte65 {
  left: 65em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 438ms infinite;
  animation: myfirst 438ms infinite; }

.goutte66 {
  left: 66em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 95ms infinite;
  animation: myfirst 95ms infinite; }

.goutte67 {
  left: 67em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 135ms infinite;
  animation: myfirst 135ms infinite; }

.goutte68 {
  left: 68em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 250ms infinite;
  animation: myfirst 250ms infinite; }

.goutte69 {
  left: 69em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 15ms infinite;
  animation: myfirst 15ms infinite; }

.goutte70 {
  left: 70em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 377ms infinite;
  animation: myfirst 377ms infinite; }

.goutte71 {
  left: 71em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 312ms infinite;
  animation: myfirst 312ms infinite; }

.goutte72 {
  left: 72em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 152ms infinite;
  animation: myfirst 152ms infinite; }

.goutte73 {
  left: 73em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 706ms infinite;
  animation: myfirst 706ms infinite; }

.goutte74 {
  left: 74em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 338ms infinite;
  animation: myfirst 338ms infinite; }

.goutte75 {
  left: 75em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 168ms infinite;
  animation: myfirst 168ms infinite; }

.goutte76 {
  left: 76em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 274ms infinite;
  animation: myfirst 274ms infinite; }

.goutte77 {
  left: 77em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 200ms infinite;
  animation: myfirst 200ms infinite; }

.goutte78 {
  left: 78em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 74ms infinite;
  animation: myfirst 74ms infinite; }

.goutte79 {
  left: 79em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 668ms infinite;
  animation: myfirst 668ms infinite; }

.goutte80 {
  left: 80em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 64ms infinite;
  animation: myfirst 64ms infinite; }

.goutte81 {
  left: 81em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 47ms infinite;
  animation: myfirst 47ms infinite; }

.goutte82 {
  left: 82em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 778ms infinite;
  animation: myfirst 778ms infinite; }

.goutte83 {
  left: 83em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 834ms infinite;
  animation: myfirst 834ms infinite; }

.goutte84 {
  left: 84em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 472ms infinite;
  animation: myfirst 472ms infinite; }

.goutte85 {
  left: 85em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 401ms infinite;
  animation: myfirst 401ms infinite; }

.goutte86 {
  left: 86em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 899ms infinite;
  animation: myfirst 899ms infinite; }

.goutte87 {
  left: 87em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 321ms infinite;
  animation: myfirst 321ms infinite; }

.goutte88 {
  left: 88em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 282ms infinite;
  animation: myfirst 282ms infinite; }

.goutte89 {
  left: 89em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 869ms infinite;
  animation: myfirst 869ms infinite; }

.goutte90 {
  left: 90em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 384ms infinite;
  animation: myfirst 384ms infinite; }

.goutte91 {
  left: 91em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 634ms infinite;
  animation: myfirst 634ms infinite; }

.goutte92 {
  left: 92em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 462ms infinite;
  animation: myfirst 462ms infinite; }

.goutte93 {
  left: 93em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 212ms infinite;
  animation: myfirst 212ms infinite; }

.goutte94 {
  left: 94em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 125ms infinite;
  animation: myfirst 125ms infinite; }

.goutte95 {
  left: 95em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 657ms infinite;
  animation: myfirst 657ms infinite; }

.goutte96 {
  left: 96em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 216ms infinite;
  animation: myfirst 216ms infinite; }

.goutte97 {
  left: 97em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 828ms infinite;
  animation: myfirst 828ms infinite; }

.goutte98 {
  left: 98em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 485ms infinite;
  animation: myfirst 485ms infinite; }

.goutte99 {
  left: 99em;
  top: 1em;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  -webkit-animation: myfirst 202ms infinite;
  animation: myfirst 202ms infinite; }

@-webkit-keyframes myfirst {
  0% {
    top: 0%; }

  100% {
    top: 100%; } }
@keyframes myfirst {
  0% {
    top: 0%; }

  100% {
    top: 100%; } }
