@import "compass/css3";


$i: 1;
$j: 1;

body{
	background-color: blue;
}

@while $i < 100{
	  .goutte#{$i} {
		left: 0em + $i;
		top: 1em;
		width: 3px;
		height: 15px;
		background-color: rgba(white, .9);
		position: absolute;
		-webkit-animation: myfirst random(10) + s infinite;
		animation: myfirst random(10) + s infinite;
		$j: $j + 1;
	}
	$i: $i + 1;
}

@-webkit-keyframes myfirst
{
	0%   {top: 0%;}
	100%  {top: 100%;}
}

@keyframes myfirst
{
	0%   {top: 0%;}
	100%  {top: 100%;}
}
