@import "compass/css3";

$i: 1;

html {
	height: 100%;
}

body {
	overflow: hidden;
	height: 100%;
}

// SCSS FOR zigzig.html

#triangle{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 100px 100px 100px;
	border-color: transparent #007bff red #007bff ;
}

#bocal {
	width: 900px;
	height: 900px;
	margin: 0 auto;
	margin-top: 100px;
	@include border-radius(450px);
	background-color: #9D99E3;
	position: relative;
}

#verre {
	position: absolute;
	width: 900px;
	height: 900px;
	margin: 0 auto;
	@include border-radius(450px);
//	background-color: rgba(blue, .1);
	@include background-image(linear-gradient(rgba(blue, .1), rgba(blue, .5)));
}

#ouverture {
	position: absolute;
	width: 400px;
	height: 90px;
	background-color: white;
	left: 250px;
	@include border-radius(100%);
}

#socle {
	position: absolute;
	height: 50px;
	width: 800px;
	margin: 0 auto;
	bottom: 0px;
	background-color: white;
}

#couv {
	position: absolute;
	height: 150px;
	width: 820px;
	margin: 0 auto;
	top: 0px;
	background-color: white;
}

.wave {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: white;
	top: 100px;
	left: 90px;
	@include border-radius(100%);
}

.wave1 {
	position: absolute;
	width: 140px;
	height: 150px;
	background-color: white;
	top: 90px;
	left: 160px;
	@include border-radius(20% 100%);
}

.wave2{
	position: absolute;
	width: 150px;
	height: 150px;
	background-color: #9D99E3;
	top: 147px;
	left: 230px;
	@include border-radius(50% 100%);
}

.wave3{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 100px;
	left: 344px;
	background-color: white;
	@include border-radius(100%);
}

.wave5{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 120px;
	left: 435px;
	background-color: white;
	@include border-radius(100%);
}


.wave4{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 80px;
	left: 300px;
	background-color: white;
	@include border-radius(100%);
}

.wave6{
	position: absolute;
	width: 150px;
	height: 100px;
	top: 120px;
	left: 530px;
	background-color: white;
	@include border-radius(50% 100%);
}

.cach{
	position: absolute;
	width: 180px;
	height: 110px;
	top: 92px;
	left: 648px;
	background-color: white;
	@include border-radius(1000% 50%);
}

.wave7{
	position: absolute;
	width: 150px;
	height: 100px;
	top: 161px;
	left: 648px;
	background-color: #9D99E3;
	@include border-radius(1000% 50%);
}


//  SCSS FOr index.html

#content{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@include background-image(linear-gradient(rgba(blue, .4), white 40%, white));
}

@while $i < 300 {
	.goutte#{$i} {
		left: 0em + $i;
		top: 1em;
		width: 3px;
		height: 70px;
		@include border-radius(3px);
		background-color: rgba(white, .9);
		@include background(linear-gradient(bottom, rgba(black, .2), rgba(white, 0.1)));
		position: absolute;
		$x : random(1100);
		-webkit-animation: myfirst #{ $x }ms infinite;
		animation: myfirst #{ $x }ms infinite;
}
$i: $i + 1 !global;
}

@-webkit-keyframes myfirst
{
	0%   {top: 0%;}
	100%  {top: 100%;}
}

@keyframes myfirst
{
	0%   {top: 0%;}
	100%  {top: 100%;}
}
